doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Welcome To Laima
    link(href="css/application.css" rel="stylesheet" type="text/css")
    meta(name="viewport" content="width=device-width,initial-scale=1")

  body
    helloworld

    script(src="bower/jquery/dist/jquery.min.js")
    script(src="js/vendor/materialize.min.js")
    script(src="bower/riot/riot+compiler.min.js")
    script(src="js/views/helloworld.tag" type="riot/tag")

    script(type='text/javascript').
      riot.mount('helloworld', {title: 'Hello World!'})
