doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Emotion - riotjs version
    link(href="css/application.css" rel="stylesheet" type="text/css")
    meta(name="viewport" content="width=device-width,initial-scale=1")

  body
    div.row.m8.s12
      emotion

    script(src="bower/jquery/dist/jquery.min.js")
    script(src="bower/underscore/underscore-min.js")
    script(src="js/vendor/materialize.min.js")
    script(src="js/vendor/riotcontrol.js")
    script(src="bower/riot/riot+compiler.min.js")

    script(src="js/stores/emotionstore.js")
    script(src="js/views/emotion.tag" type="riot/tag")
    script(src="js/views/filter.tag" type="riot/tag")
    script(src="js/views/emotions.tag" type="riot/tag")

    script(type='text/javascript').
      var emotionStore = new EmotionStore();
      RiotControl.addStore(emotionStore);
      RiotControl.trigger('FETCH_DATA', 'js/data.json');
      riot.mount('emotion', {title: 'Emotion'})
