doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Welcome To Laima
    link(href="css/application.css" rel="stylesheet" type="text/css")
    meta(name="viewport" content="width=device-width,initial-scale=1")

  body
    helloworld

    //- script(data-main="js/main.js" src="bower/requirejs/require.js")
    script(src="bower/riot/riot+compiler.min.js")
    script(src="js/templates/helloworld.tag" type="riot/tag")

    script(type='text/javascript').
      riot.mount('helloworld', {title: 'Hello World!'})
    //- script(data-main="js/app.js" src="bower/requirejs/require.js")
