doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Welcome To Laima
    link(href="css/application.css" rel="stylesheet" type="text/css")
    meta(name="viewport" content="width=device-width,initial-scale=1")

  body
    h1 Welcome To Laima

    script(data-main="js/main.js" src="bower/requirejs/require.js")
    //- script(data-main="js/app.js" src="bower/requirejs/require.js")
